USE [BloodDonationDB]
GO
/****** Object:  Table [dbo].[blog_categories]    Script Date: 6/2/2026 11:25:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[blog_categories](
	[blog_category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](150) NOT NULL,
	[slug] [nvarchar](150) NOT NULL,
 CONSTRAINT [blog_categories_pkey] PRIMARY KEY CLUSTERED 
(
	[blog_category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [blog_categories_slug_key] UNIQUE NONCLUSTERED 
(
	[slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[blog_comments]    Script Date: 6/2/2026 11:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[blog_comments](
	[comment_id] [int] IDENTITY(1,1) NOT NULL,
	[post_id] [int] NOT NULL,
	[parent_comment_id] [int] NULL,
	[user_id] [int] NULL,
	[reply_to_user_id] [int] NULL,
	[guest_name] [nvarchar](100) NULL,
	[content] [nvarchar](2000) NOT NULL,
	[is_approved] [bit] NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NULL,
 CONSTRAINT [blog_comments_pkey] PRIMARY KEY CLUSTERED 
(
	[comment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[blog_posts]    Script Date: 6/2/2026 11:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[blog_posts](
	[post_id] [int] IDENTITY(1,1) NOT NULL,
	[blog_category_id] [int] NOT NULL,
	[author_user_id] [int] NULL,
	[title] [nvarchar](300) NOT NULL,
	[slug] [nvarchar](300) NOT NULL,
	[summary] [nvarchar](1000) NULL,
	[content_html] [nvarchar](max) NOT NULL,
	[thumbnail_url] [nvarchar](500) NULL,
	[view_count] [int] NOT NULL,
	[is_published] [bit] NOT NULL,
	[published_at] [datetime2](0) NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NULL,
 CONSTRAINT [blog_posts_pkey] PRIMARY KEY CLUSTERED 
(
	[post_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [blog_posts_slug_key] UNIQUE NONCLUSTERED 
(
	[slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[blood_compatibility]    Script Date: 6/2/2026 11:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[blood_compatibility](
	[compatibility_id] [int] IDENTITY(1,1) NOT NULL,
	[component_id] [int] NOT NULL,
	[donor_blood_type_id] [int] NOT NULL,
	[recipient_blood_type_id] [int] NOT NULL,
	[is_compatible] [bit] NOT NULL,
	[notes] [nvarchar](300) NULL,
 CONSTRAINT [blood_compatibility_pkey] PRIMARY KEY CLUSTERED 
(
	[compatibility_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [blood_compatibility_component_id_donor_blood_type_id_recipient_blood_type_id_key] UNIQUE NONCLUSTERED 
(
	[component_id] ASC,
	[donor_blood_type_id] ASC,
	[recipient_blood_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[blood_components]    Script Date: 6/2/2026 11:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[blood_components](
	[component_id] [int] IDENTITY(1,1) NOT NULL,
	[component_code] [nvarchar](30) NOT NULL,
	[component_name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](500) NULL,
	[is_active] [bit] NOT NULL,
 CONSTRAINT [blood_components_pkey] PRIMARY KEY CLUSTERED 
(
	[component_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [blood_components_component_code_key] UNIQUE NONCLUSTERED 
(
	[component_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[blood_inventory]    Script Date: 6/2/2026 11:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[blood_inventory](
	[inventory_id] [int] IDENTITY(1,1) NOT NULL,
	[facility_id] [int] NOT NULL,
	[blood_type_id] [int] NOT NULL,
	[component_id] [int] NOT NULL,
	[bag_code] [nvarchar](50) NOT NULL,
	[volume_ml] [int] NOT NULL,
	[collection_date] [date] NOT NULL,
	[expiry_date] [date] NOT NULL,
	[status_code] [nvarchar](20) NOT NULL,
	[source_donation_id] [int] NULL,
	[notes] [nvarchar](500) NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NULL,
 CONSTRAINT [blood_inventory_pkey] PRIMARY KEY CLUSTERED 
(
	[inventory_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [blood_inventory_bag_code_key] UNIQUE NONCLUSTERED 
(
	[bag_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[blood_request_donor_matches]    Script Date: 6/2/2026 11:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[blood_request_donor_matches](
	[match_id] [int] IDENTITY(1,1) NOT NULL,
	[request_id] [int] NOT NULL,
	[donor_user_id] [int] NOT NULL,
	[distance_km] [decimal](10, 2) NULL,
	[match_score] [decimal](5, 2) NULL,
	[match_status] [nvarchar](20) NOT NULL,
	[contacted_at] [datetime2](0) NULL,
	[responded_at] [datetime2](0) NULL,
	[staff_notes] [nvarchar](500) NULL,
	[created_at] [datetime2](0) NOT NULL,
 CONSTRAINT [blood_request_donor_matches_pkey] PRIMARY KEY CLUSTERED 
(
	[match_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[blood_request_inventory_allocations]    Script Date: 6/2/2026 11:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[blood_request_inventory_allocations](
	[allocation_id] [int] IDENTITY(1,1) NOT NULL,
	[request_id] [int] NOT NULL,
	[inventory_id] [int] NOT NULL,
	[allocated_at] [datetime2](0) NOT NULL,
	[allocated_by] [int] NULL,
	[released_at] [datetime2](0) NULL,
	[is_active] [bit] NOT NULL,
 CONSTRAINT [blood_request_inventory_allocations_pkey] PRIMARY KEY CLUSTERED 
(
	[allocation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[blood_request_status_history]    Script Date: 6/2/2026 11:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[blood_request_status_history](
	[history_id] [int] IDENTITY(1,1) NOT NULL,
	[request_id] [int] NOT NULL,
	[from_status_id] [int] NULL,
	[to_status_id] [int] NOT NULL,
	[changed_by] [int] NULL,
	[change_reason] [nvarchar](500) NULL,
	[created_at] [datetime2](0) NOT NULL,
 CONSTRAINT [blood_request_status_history_pkey] PRIMARY KEY CLUSTERED 
(
	[history_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[blood_request_statuses]    Script Date: 6/2/2026 11:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[blood_request_statuses](
	[status_id] [int] IDENTITY(1,1) NOT NULL,
	[status_code] [nvarchar](30) NOT NULL,
	[status_name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](500) NULL,
	[sort_order] [int] NOT NULL,
	[is_terminal] [bit] NOT NULL,
 CONSTRAINT [blood_request_statuses_pkey] PRIMARY KEY CLUSTERED 
(
	[status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [blood_request_statuses_status_code_key] UNIQUE NONCLUSTERED 
(
	[status_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[blood_requests]    Script Date: 6/2/2026 11:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[blood_requests](
	[request_id] [int] IDENTITY(1,1) NOT NULL,
	[request_code] [nvarchar](30) NOT NULL,
	[facility_id] [int] NOT NULL,
	[requester_user_id] [int] NULL,
	[patient_name] [nvarchar](150) NOT NULL,
	[patient_phone] [nvarchar](20) NULL,
	[blood_type_id] [int] NOT NULL,
	[component_id] [int] NOT NULL,
	[units_needed] [int] NOT NULL,
	[units_fulfilled] [int] NOT NULL,
	[urgency_id] [int] NOT NULL,
	[status_id] [int] NOT NULL,
	[is_emergency] [bit] NOT NULL,
	[hospital_name] [nvarchar](200) NULL,
	[ward_room] [nvarchar](100) NULL,
	[clinical_notes] [nvarchar](1000) NULL,
	[province_id] [int] NULL,
	[district_id] [int] NULL,
	[ward_id] [int] NULL,
	[address] [nvarchar](500) NULL,
	[latitude] [decimal](10, 7) NULL,
	[longitude] [decimal](10, 7) NULL,
	[required_before] [datetime2](0) NULL,
	[fulfilled_from_stock] [bit] NOT NULL,
	[needs_donor_match] [bit] NOT NULL,
	[assigned_staff_id] [int] NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NULL,
	[completed_at] [datetime2](0) NULL,
 CONSTRAINT [blood_requests_pkey] PRIMARY KEY CLUSTERED 
(
	[request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [blood_requests_request_code_key] UNIQUE NONCLUSTERED 
(
	[request_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[blood_types]    Script Date: 6/2/2026 11:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[blood_types](
	[blood_type_id] [int] IDENTITY(1,1) NOT NULL,
	[blood_type_code] [nvarchar](5) NOT NULL,
	[abo] [char](2) NOT NULL,
	[rh_factor] [char](1) NOT NULL,
	[display_order] [int] NOT NULL,
	[is_active] [bit] NOT NULL,
 CONSTRAINT [blood_types_pkey] PRIMARY KEY CLUSTERED 
(
	[blood_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [blood_types_blood_type_code_key] UNIQUE NONCLUSTERED 
(
	[blood_type_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[districts]    Script Date: 6/2/2026 11:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[districts](
	[district_id] [int] IDENTITY(1,1) NOT NULL,
	[province_id] [int] NOT NULL,
	[district_name] [nvarchar](100) NOT NULL,
 CONSTRAINT [districts_pkey] PRIMARY KEY CLUSTERED 
(
	[district_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[donation_interval_rules]    Script Date: 6/2/2026 11:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[donation_interval_rules](
	[rule_id] [int] IDENTITY(1,1) NOT NULL,
	[component_id] [int] NOT NULL,
	[min_interval_days] [int] NOT NULL,
	[max_donations_per_year] [int] NULL,
	[description] [nvarchar](300) NULL,
	[is_active] [bit] NOT NULL,
 CONSTRAINT [donation_interval_rules_pkey] PRIMARY KEY CLUSTERED 
(
	[rule_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [donation_interval_rules_component_id_key] UNIQUE NONCLUSTERED 
(
	[component_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[donation_reminders]    Script Date: 6/2/2026 11:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[donation_reminders](
	[reminder_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[donation_id] [int] NULL,
	[component_id] [int] NOT NULL,
	[reminder_type] [nvarchar](30) NOT NULL,
	[reminder_date] [date] NOT NULL,
	[message] [nvarchar](500) NOT NULL,
	[is_sent] [bit] NOT NULL,
	[sent_at] [datetime2](0) NULL,
	[is_read] [bit] NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
 CONSTRAINT [donation_reminders_pkey] PRIMARY KEY CLUSTERED 
(
	[reminder_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[donations]    Script Date: 6/2/2026 11:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[donations](
	[donation_id] [int] IDENTITY(1,1) NOT NULL,
	[donation_code] [nvarchar](30) NOT NULL,
	[facility_id] [int] NOT NULL,
	[donor_user_id] [int] NOT NULL,
	[blood_type_id] [int] NOT NULL,
	[component_id] [int] NOT NULL,
	[request_id] [int] NULL,
	[volume_ml] [int] NOT NULL,
	[donation_date] [datetime2](0) NOT NULL,
	[staff_user_id] [int] NULL,
	[health_check_passed] [bit] NOT NULL,
	[result_notes] [nvarchar](500) NULL,
	[inventory_id] [int] NULL,
	[status_code] [nvarchar](20) NOT NULL,
	[next_eligible_date] [date] NULL,
	[created_at] [datetime2](0) NOT NULL,
 CONSTRAINT [donations_pkey] PRIMARY KEY CLUSTERED 
(
	[donation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [donations_donation_code_key] UNIQUE NONCLUSTERED 
(
	[donation_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[donor_availability_slots]    Script Date: 6/2/2026 11:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[donor_availability_slots](
	[slot_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[day_of_week] [tinyint] NULL,
	[specific_date] [date] NULL,
	[start_time] [time](7) NULL,
	[end_time] [time](7) NULL,
	[notes] [nvarchar](300) NULL,
	[is_recurring] [bit] NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
	[schedule_id] [int] NULL,
	[status] [nvarchar](20) NOT NULL,
 CONSTRAINT [donor_availability_slots_pkey] PRIMARY KEY CLUSTERED 
(
	[slot_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[donor_profiles]    Script Date: 6/2/2026 11:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[donor_profiles](
	[donor_profile_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[blood_type_id] [int] NOT NULL,
	[weight_kg] [decimal](5, 2) NULL,
	[height_cm] [int] NULL,
	[first_donation_date] [date] NULL,
	[total_donations] [int] NOT NULL,
	[last_donation_date] [date] NULL,
	[next_eligible_date] [date] NULL,
	[health_notes] [nvarchar](1000) NULL,
	[emergency_contact_name] [nvarchar](150) NULL,
	[emergency_contact_phone] [nvarchar](20) NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NULL,
 CONSTRAINT [donor_profiles_pkey] PRIMARY KEY CLUSTERED 
(
	[donor_profile_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [donor_profiles_user_id_key] UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[education_document_categories]    Script Date: 6/2/2026 11:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[education_document_categories](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](150) NOT NULL,
	[description] [nvarchar](500) NULL,
	[sort_order] [int] NOT NULL,
 CONSTRAINT [education_document_categories_pkey] PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[education_documents]    Script Date: 6/2/2026 11:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[education_documents](
	[document_id] [int] IDENTITY(1,1) NOT NULL,
	[category_id] [int] NOT NULL,
	[blood_type_id] [int] NULL,
	[title] [nvarchar](300) NOT NULL,
	[slug] [nvarchar](300) NOT NULL,
	[summary] [nvarchar](1000) NULL,
	[content_html] [nvarchar](max) NOT NULL,
	[thumbnail_url] [nvarchar](500) NULL,
	[view_count] [int] NOT NULL,
	[is_published] [bit] NOT NULL,
	[published_at] [datetime2](0) NULL,
	[created_by] [int] NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NULL,
 CONSTRAINT [education_documents_pkey] PRIMARY KEY CLUSTERED 
(
	[document_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [education_documents_slug_key] UNIQUE NONCLUSTERED 
(
	[slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[facility_donation_schedules]    Script Date: 6/2/2026 11:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[facility_donation_schedules](
	[schedule_id] [int] IDENTITY(1,1) NOT NULL,
	[facility_id] [int] NOT NULL,
	[date] [date] NOT NULL,
	[start_time] [time](7) NOT NULL,
	[end_time] [time](7) NOT NULL,
	[max_donors] [int] NOT NULL,
	[current_donors] [int] NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[terms_html] [nvarchar](max) NULL,
 CONSTRAINT [facility_donation_schedules_pkey] PRIMARY KEY CLUSTERED 
(
	[schedule_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inventory_transactions]    Script Date: 6/2/2026 11:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inventory_transactions](
	[transaction_id] [int] IDENTITY(1,1) NOT NULL,
	[inventory_id] [int] NOT NULL,
	[transaction_type] [nvarchar](20) NOT NULL,
	[quantity] [int] NOT NULL,
	[reference_type] [nvarchar](50) NULL,
	[reference_id] [int] NULL,
	[performed_by] [int] NULL,
	[notes] [nvarchar](500) NULL,
	[created_at] [datetime2](0) NOT NULL,
 CONSTRAINT [inventory_transactions_pkey] PRIMARY KEY CLUSTERED 
(
	[transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[medical_facilities]    Script Date: 6/2/2026 11:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[medical_facilities](
	[facility_id] [int] IDENTITY(1,1) NOT NULL,
	[facility_code] [nvarchar](20) NOT NULL,
	[facility_name] [nvarchar](200) NOT NULL,
	[short_name] [nvarchar](100) NULL,
	[address] [nvarchar](500) NOT NULL,
	[province_id] [int] NULL,
	[district_id] [int] NULL,
	[ward_id] [int] NULL,
	[phone] [nvarchar](20) NULL,
	[email] [nvarchar](100) NULL,
	[website] [nvarchar](200) NULL,
	[latitude] [decimal](10, 7) NULL,
	[longitude] [decimal](10, 7) NULL,
	[logo_url] [nvarchar](500) NULL,
	[is_primary] [bit] NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NULL,
 CONSTRAINT [medical_facilities_pkey] PRIMARY KEY CLUSTERED 
(
	[facility_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [medical_facilities_facility_code_key] UNIQUE NONCLUSTERED 
(
	[facility_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notifications]    Script Date: 6/2/2026 11:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notifications](
	[notification_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[title] [nvarchar](200) NOT NULL,
	[message] [nvarchar](1000) NOT NULL,
	[notification_type] [nvarchar](50) NOT NULL,
	[reference_type] [nvarchar](50) NULL,
	[reference_id] [int] NULL,
	[is_read] [bit] NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
	[read_at] [datetime2](0) NULL,
 CONSTRAINT [notifications_pkey] PRIMARY KEY CLUSTERED 
(
	[notification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[otp_types]    Script Date: 6/2/2026 11:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[otp_types](
	[otp_type_id] [int] IDENTITY(1,1) NOT NULL,
	[otp_type_code] [nvarchar](50) NOT NULL,
	[otp_type_name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](500) NULL,
	[expiry_minutes] [int] NOT NULL,
	[max_attempts] [int] NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
 CONSTRAINT [otp_types_pkey] PRIMARY KEY CLUSTERED 
(
	[otp_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [otp_types_otp_type_code_key] UNIQUE NONCLUSTERED 
(
	[otp_type_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[provinces]    Script Date: 6/2/2026 11:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[provinces](
	[province_id] [int] IDENTITY(1,1) NOT NULL,
	[province_code] [nvarchar](10) NULL,
	[province_name] [nvarchar](100) NOT NULL,
 CONSTRAINT [provinces_pkey] PRIMARY KEY CLUSTERED 
(
	[province_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 6/2/2026 11:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_code] [nvarchar](20) NOT NULL,
	[role_name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](500) NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
 CONSTRAINT [roles_pkey] PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [roles_role_code_key] UNIQUE NONCLUSTERED 
(
	[role_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[system_settings]    Script Date: 6/2/2026 11:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[system_settings](
	[setting_id] [int] IDENTITY(1,1) NOT NULL,
	[setting_key] [nvarchar](100) NOT NULL,
	[setting_value] [nvarchar](max) NOT NULL,
	[description] [nvarchar](500) NULL,
	[updated_at] [datetime2](0) NOT NULL,
 CONSTRAINT [system_settings_pkey] PRIMARY KEY CLUSTERED 
(
	[setting_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [system_settings_setting_key_key] UNIQUE NONCLUSTERED 
(
	[setting_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[urgency_levels]    Script Date: 6/2/2026 11:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[urgency_levels](
	[urgency_id] [int] IDENTITY(1,1) NOT NULL,
	[urgency_code] [nvarchar](20) NOT NULL,
	[urgency_name] [nvarchar](100) NOT NULL,
	[priority_level] [int] NOT NULL,
 CONSTRAINT [urgency_levels_pkey] PRIMARY KEY CLUSTERED 
(
	[urgency_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [urgency_levels_urgency_code_key] UNIQUE NONCLUSTERED 
(
	[urgency_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_otps]    Script Date: 6/2/2026 11:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_otps](
	[otp_id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[otp_type_id] [int] NOT NULL,
	[destination] [nvarchar](150) NOT NULL,
	[destination_type] [nvarchar](10) NOT NULL,
	[otp_hash] [nvarchar](256) NOT NULL,
	[expires_at] [datetime2](0) NOT NULL,
	[is_verified] [bit] NOT NULL,
	[verified_at] [datetime2](0) NULL,
	[attempt_count] [int] NOT NULL,
	[max_attempts] [int] NOT NULL,
	[ip_address] [nvarchar](45) NULL,
	[reference_type] [nvarchar](50) NULL,
	[reference_id] [int] NULL,
	[created_at] [datetime2](0) NOT NULL,
 CONSTRAINT [user_otps_pkey] PRIMARY KEY CLUSTERED 
(
	[otp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 6/2/2026 11:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[role_id] [int] NOT NULL,
	[email] [nvarchar](150) NOT NULL,
	[password_hash] [nvarchar](256) NOT NULL,
	[full_name] [nvarchar](150) NOT NULL,
	[phone] [nvarchar](20) NULL,
	[date_of_birth] [date] NULL,
	[gender] [char](1) NULL,
	[avatar_url] [nvarchar](500) NULL,
	[address] [nvarchar](500) NULL,
	[province_id] [int] NULL,
	[district_id] [int] NULL,
	[ward_id] [int] NULL,
	[latitude] [decimal](10, 7) NULL,
	[longitude] [decimal](10, 7) NULL,
	[blood_type_id] [int] NULL,
	[is_donor_registered] [bit] NOT NULL,
	[is_available_for_donation] [bit] NOT NULL,
	[last_login_at] [datetime2](0) NULL,
	[is_active] [bit] NOT NULL,
	[is_email_verified] [bit] NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NULL,
	[username] [nvarchar](150) NULL,
	[identity_card] [nvarchar](20) NULL,
	[refresh_token] [nvarchar](500) NULL,
 CONSTRAINT [users_pkey] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [users_email_key] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[wards]    Script Date: 6/2/2026 11:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wards](
	[ward_id] [int] IDENTITY(1,1) NOT NULL,
	[district_id] [int] NOT NULL,
	[ward_name] [nvarchar](100) NOT NULL,
 CONSTRAINT [wards_pkey] PRIMARY KEY CLUSTERED 
(
	[ward_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[blog_comments] ADD  CONSTRAINT [blog_comments_is_approved_df]  DEFAULT ((0)) FOR [is_approved]
GO
ALTER TABLE [dbo].[blog_comments] ADD  CONSTRAINT [blog_comments_created_at_df]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[blog_posts] ADD  CONSTRAINT [blog_posts_view_count_df]  DEFAULT ((0)) FOR [view_count]
GO
ALTER TABLE [dbo].[blog_posts] ADD  CONSTRAINT [blog_posts_is_published_df]  DEFAULT ((0)) FOR [is_published]
GO
ALTER TABLE [dbo].[blog_posts] ADD  CONSTRAINT [blog_posts_created_at_df]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[blood_compatibility] ADD  CONSTRAINT [blood_compatibility_is_compatible_df]  DEFAULT ((1)) FOR [is_compatible]
GO
ALTER TABLE [dbo].[blood_components] ADD  CONSTRAINT [blood_components_is_active_df]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[blood_inventory] ADD  CONSTRAINT [blood_inventory_status_code_df]  DEFAULT ('AVAILABLE') FOR [status_code]
GO
ALTER TABLE [dbo].[blood_inventory] ADD  CONSTRAINT [blood_inventory_created_at_df]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[blood_request_donor_matches] ADD  CONSTRAINT [blood_request_donor_matches_match_status_df]  DEFAULT ('PENDING') FOR [match_status]
GO
ALTER TABLE [dbo].[blood_request_donor_matches] ADD  CONSTRAINT [blood_request_donor_matches_created_at_df]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[blood_request_inventory_allocations] ADD  CONSTRAINT [blood_request_inventory_allocations_allocated_at_df]  DEFAULT (getdate()) FOR [allocated_at]
GO
ALTER TABLE [dbo].[blood_request_inventory_allocations] ADD  CONSTRAINT [blood_request_inventory_allocations_is_active_df]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[blood_request_status_history] ADD  CONSTRAINT [blood_request_status_history_created_at_df]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[blood_request_statuses] ADD  CONSTRAINT [blood_request_statuses_sort_order_df]  DEFAULT ((0)) FOR [sort_order]
GO
ALTER TABLE [dbo].[blood_request_statuses] ADD  CONSTRAINT [blood_request_statuses_is_terminal_df]  DEFAULT ((0)) FOR [is_terminal]
GO
ALTER TABLE [dbo].[blood_requests] ADD  CONSTRAINT [blood_requests_units_fulfilled_df]  DEFAULT ((0)) FOR [units_fulfilled]
GO
ALTER TABLE [dbo].[blood_requests] ADD  CONSTRAINT [blood_requests_is_emergency_df]  DEFAULT ((0)) FOR [is_emergency]
GO
ALTER TABLE [dbo].[blood_requests] ADD  CONSTRAINT [blood_requests_fulfilled_from_stock_df]  DEFAULT ((0)) FOR [fulfilled_from_stock]
GO
ALTER TABLE [dbo].[blood_requests] ADD  CONSTRAINT [blood_requests_needs_donor_match_df]  DEFAULT ((0)) FOR [needs_donor_match]
GO
ALTER TABLE [dbo].[blood_requests] ADD  CONSTRAINT [blood_requests_created_at_df]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[blood_types] ADD  CONSTRAINT [blood_types_display_order_df]  DEFAULT ((0)) FOR [display_order]
GO
ALTER TABLE [dbo].[blood_types] ADD  CONSTRAINT [blood_types_is_active_df]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[donation_interval_rules] ADD  CONSTRAINT [donation_interval_rules_is_active_df]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[donation_reminders] ADD  CONSTRAINT [donation_reminders_is_sent_df]  DEFAULT ((0)) FOR [is_sent]
GO
ALTER TABLE [dbo].[donation_reminders] ADD  CONSTRAINT [donation_reminders_is_read_df]  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[donation_reminders] ADD  CONSTRAINT [donation_reminders_created_at_df]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[donations] ADD  CONSTRAINT [donations_health_check_passed_df]  DEFAULT ((1)) FOR [health_check_passed]
GO
ALTER TABLE [dbo].[donations] ADD  CONSTRAINT [donations_status_code_df]  DEFAULT ('COMPLETED') FOR [status_code]
GO
ALTER TABLE [dbo].[donations] ADD  CONSTRAINT [donations_created_at_df]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[donor_availability_slots] ADD  CONSTRAINT [donor_availability_slots_is_recurring_df]  DEFAULT ((0)) FOR [is_recurring]
GO
ALTER TABLE [dbo].[donor_availability_slots] ADD  CONSTRAINT [donor_availability_slots_is_active_df]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[donor_availability_slots] ADD  CONSTRAINT [donor_availability_slots_created_at_df]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[donor_availability_slots] ADD  CONSTRAINT [donor_availability_slots_status_df]  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[donor_profiles] ADD  CONSTRAINT [donor_profiles_total_donations_df]  DEFAULT ((0)) FOR [total_donations]
GO
ALTER TABLE [dbo].[donor_profiles] ADD  CONSTRAINT [donor_profiles_is_active_df]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[donor_profiles] ADD  CONSTRAINT [donor_profiles_created_at_df]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[education_document_categories] ADD  CONSTRAINT [education_document_categories_sort_order_df]  DEFAULT ((0)) FOR [sort_order]
GO
ALTER TABLE [dbo].[education_documents] ADD  CONSTRAINT [education_documents_view_count_df]  DEFAULT ((0)) FOR [view_count]
GO
ALTER TABLE [dbo].[education_documents] ADD  CONSTRAINT [education_documents_is_published_df]  DEFAULT ((1)) FOR [is_published]
GO
ALTER TABLE [dbo].[education_documents] ADD  CONSTRAINT [education_documents_created_at_df]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[facility_donation_schedules] ADD  CONSTRAINT [facility_donation_schedules_max_donors_df]  DEFAULT ((50)) FOR [max_donors]
GO
ALTER TABLE [dbo].[facility_donation_schedules] ADD  CONSTRAINT [facility_donation_schedules_current_donors_df]  DEFAULT ((0)) FOR [current_donors]
GO
ALTER TABLE [dbo].[facility_donation_schedules] ADD  CONSTRAINT [facility_donation_schedules_status_df]  DEFAULT ('OPEN') FOR [status]
GO
ALTER TABLE [dbo].[facility_donation_schedules] ADD  CONSTRAINT [facility_donation_schedules_created_at_df]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[inventory_transactions] ADD  CONSTRAINT [inventory_transactions_quantity_df]  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[inventory_transactions] ADD  CONSTRAINT [inventory_transactions_created_at_df]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[medical_facilities] ADD  CONSTRAINT [medical_facilities_is_primary_df]  DEFAULT ((0)) FOR [is_primary]
GO
ALTER TABLE [dbo].[medical_facilities] ADD  CONSTRAINT [medical_facilities_is_active_df]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[medical_facilities] ADD  CONSTRAINT [medical_facilities_created_at_df]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[notifications] ADD  CONSTRAINT [notifications_is_read_df]  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[notifications] ADD  CONSTRAINT [notifications_created_at_df]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[otp_types] ADD  CONSTRAINT [otp_types_expiry_minutes_df]  DEFAULT ((10)) FOR [expiry_minutes]
GO
ALTER TABLE [dbo].[otp_types] ADD  CONSTRAINT [otp_types_max_attempts_df]  DEFAULT ((5)) FOR [max_attempts]
GO
ALTER TABLE [dbo].[otp_types] ADD  CONSTRAINT [otp_types_is_active_df]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[otp_types] ADD  CONSTRAINT [otp_types_created_at_df]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[roles] ADD  CONSTRAINT [roles_is_active_df]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[roles] ADD  CONSTRAINT [roles_created_at_df]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[system_settings] ADD  CONSTRAINT [system_settings_updated_at_df]  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[user_otps] ADD  CONSTRAINT [user_otps_is_verified_df]  DEFAULT ((0)) FOR [is_verified]
GO
ALTER TABLE [dbo].[user_otps] ADD  CONSTRAINT [user_otps_attempt_count_df]  DEFAULT ((0)) FOR [attempt_count]
GO
ALTER TABLE [dbo].[user_otps] ADD  CONSTRAINT [user_otps_created_at_df]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [users_is_donor_registered_df]  DEFAULT ((0)) FOR [is_donor_registered]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [users_is_available_for_donation_df]  DEFAULT ((0)) FOR [is_available_for_donation]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [users_is_active_df]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [users_is_email_verified_df]  DEFAULT ((0)) FOR [is_email_verified]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [users_created_at_df]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[blog_comments]  WITH CHECK ADD  CONSTRAINT [blog_comments_parent_comment_id_fkey] FOREIGN KEY([parent_comment_id])
REFERENCES [dbo].[blog_comments] ([comment_id])
GO
ALTER TABLE [dbo].[blog_comments] CHECK CONSTRAINT [blog_comments_parent_comment_id_fkey]
GO
ALTER TABLE [dbo].[blog_comments]  WITH CHECK ADD  CONSTRAINT [blog_comments_post_id_fkey] FOREIGN KEY([post_id])
REFERENCES [dbo].[blog_posts] ([post_id])
GO
ALTER TABLE [dbo].[blog_comments] CHECK CONSTRAINT [blog_comments_post_id_fkey]
GO
ALTER TABLE [dbo].[blog_comments]  WITH CHECK ADD  CONSTRAINT [blog_comments_reply_to_user_id_fkey] FOREIGN KEY([reply_to_user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[blog_comments] CHECK CONSTRAINT [blog_comments_reply_to_user_id_fkey]
GO
ALTER TABLE [dbo].[blog_comments]  WITH CHECK ADD  CONSTRAINT [blog_comments_user_id_fkey] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[blog_comments] CHECK CONSTRAINT [blog_comments_user_id_fkey]
GO
ALTER TABLE [dbo].[blog_posts]  WITH CHECK ADD  CONSTRAINT [blog_posts_author_user_id_fkey] FOREIGN KEY([author_user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[blog_posts] CHECK CONSTRAINT [blog_posts_author_user_id_fkey]
GO
ALTER TABLE [dbo].[blog_posts]  WITH CHECK ADD  CONSTRAINT [blog_posts_blog_category_id_fkey] FOREIGN KEY([blog_category_id])
REFERENCES [dbo].[blog_categories] ([blog_category_id])
GO
ALTER TABLE [dbo].[blog_posts] CHECK CONSTRAINT [blog_posts_blog_category_id_fkey]
GO
ALTER TABLE [dbo].[blood_compatibility]  WITH CHECK ADD  CONSTRAINT [blood_compatibility_component_id_fkey] FOREIGN KEY([component_id])
REFERENCES [dbo].[blood_components] ([component_id])
GO
ALTER TABLE [dbo].[blood_compatibility] CHECK CONSTRAINT [blood_compatibility_component_id_fkey]
GO
ALTER TABLE [dbo].[blood_compatibility]  WITH CHECK ADD  CONSTRAINT [blood_compatibility_donor_blood_type_id_fkey] FOREIGN KEY([donor_blood_type_id])
REFERENCES [dbo].[blood_types] ([blood_type_id])
GO
ALTER TABLE [dbo].[blood_compatibility] CHECK CONSTRAINT [blood_compatibility_donor_blood_type_id_fkey]
GO
ALTER TABLE [dbo].[blood_compatibility]  WITH CHECK ADD  CONSTRAINT [blood_compatibility_recipient_blood_type_id_fkey] FOREIGN KEY([recipient_blood_type_id])
REFERENCES [dbo].[blood_types] ([blood_type_id])
GO
ALTER TABLE [dbo].[blood_compatibility] CHECK CONSTRAINT [blood_compatibility_recipient_blood_type_id_fkey]
GO
ALTER TABLE [dbo].[blood_inventory]  WITH CHECK ADD  CONSTRAINT [blood_inventory_blood_type_id_fkey] FOREIGN KEY([blood_type_id])
REFERENCES [dbo].[blood_types] ([blood_type_id])
GO
ALTER TABLE [dbo].[blood_inventory] CHECK CONSTRAINT [blood_inventory_blood_type_id_fkey]
GO
ALTER TABLE [dbo].[blood_inventory]  WITH CHECK ADD  CONSTRAINT [blood_inventory_component_id_fkey] FOREIGN KEY([component_id])
REFERENCES [dbo].[blood_components] ([component_id])
GO
ALTER TABLE [dbo].[blood_inventory] CHECK CONSTRAINT [blood_inventory_component_id_fkey]
GO
ALTER TABLE [dbo].[blood_inventory]  WITH CHECK ADD  CONSTRAINT [blood_inventory_facility_id_fkey] FOREIGN KEY([facility_id])
REFERENCES [dbo].[medical_facilities] ([facility_id])
GO
ALTER TABLE [dbo].[blood_inventory] CHECK CONSTRAINT [blood_inventory_facility_id_fkey]
GO
ALTER TABLE [dbo].[blood_inventory]  WITH CHECK ADD  CONSTRAINT [blood_inventory_source_donation_id_fkey] FOREIGN KEY([source_donation_id])
REFERENCES [dbo].[donations] ([donation_id])
GO
ALTER TABLE [dbo].[blood_inventory] CHECK CONSTRAINT [blood_inventory_source_donation_id_fkey]
GO
ALTER TABLE [dbo].[blood_request_donor_matches]  WITH CHECK ADD  CONSTRAINT [blood_request_donor_matches_donor_user_id_fkey] FOREIGN KEY([donor_user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[blood_request_donor_matches] CHECK CONSTRAINT [blood_request_donor_matches_donor_user_id_fkey]
GO
ALTER TABLE [dbo].[blood_request_donor_matches]  WITH CHECK ADD  CONSTRAINT [blood_request_donor_matches_request_id_fkey] FOREIGN KEY([request_id])
REFERENCES [dbo].[blood_requests] ([request_id])
GO
ALTER TABLE [dbo].[blood_request_donor_matches] CHECK CONSTRAINT [blood_request_donor_matches_request_id_fkey]
GO
ALTER TABLE [dbo].[blood_request_inventory_allocations]  WITH CHECK ADD  CONSTRAINT [blood_request_inventory_allocations_allocated_by_fkey] FOREIGN KEY([allocated_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[blood_request_inventory_allocations] CHECK CONSTRAINT [blood_request_inventory_allocations_allocated_by_fkey]
GO
ALTER TABLE [dbo].[blood_request_inventory_allocations]  WITH CHECK ADD  CONSTRAINT [blood_request_inventory_allocations_inventory_id_fkey] FOREIGN KEY([inventory_id])
REFERENCES [dbo].[blood_inventory] ([inventory_id])
GO
ALTER TABLE [dbo].[blood_request_inventory_allocations] CHECK CONSTRAINT [blood_request_inventory_allocations_inventory_id_fkey]
GO
ALTER TABLE [dbo].[blood_request_inventory_allocations]  WITH CHECK ADD  CONSTRAINT [blood_request_inventory_allocations_request_id_fkey] FOREIGN KEY([request_id])
REFERENCES [dbo].[blood_requests] ([request_id])
GO
ALTER TABLE [dbo].[blood_request_inventory_allocations] CHECK CONSTRAINT [blood_request_inventory_allocations_request_id_fkey]
GO
ALTER TABLE [dbo].[blood_request_status_history]  WITH CHECK ADD  CONSTRAINT [blood_request_status_history_changed_by_fkey] FOREIGN KEY([changed_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[blood_request_status_history] CHECK CONSTRAINT [blood_request_status_history_changed_by_fkey]
GO
ALTER TABLE [dbo].[blood_request_status_history]  WITH CHECK ADD  CONSTRAINT [blood_request_status_history_from_status_id_fkey] FOREIGN KEY([from_status_id])
REFERENCES [dbo].[blood_request_statuses] ([status_id])
GO
ALTER TABLE [dbo].[blood_request_status_history] CHECK CONSTRAINT [blood_request_status_history_from_status_id_fkey]
GO
ALTER TABLE [dbo].[blood_request_status_history]  WITH CHECK ADD  CONSTRAINT [blood_request_status_history_request_id_fkey] FOREIGN KEY([request_id])
REFERENCES [dbo].[blood_requests] ([request_id])
GO
ALTER TABLE [dbo].[blood_request_status_history] CHECK CONSTRAINT [blood_request_status_history_request_id_fkey]
GO
ALTER TABLE [dbo].[blood_request_status_history]  WITH CHECK ADD  CONSTRAINT [blood_request_status_history_to_status_id_fkey] FOREIGN KEY([to_status_id])
REFERENCES [dbo].[blood_request_statuses] ([status_id])
GO
ALTER TABLE [dbo].[blood_request_status_history] CHECK CONSTRAINT [blood_request_status_history_to_status_id_fkey]
GO
ALTER TABLE [dbo].[blood_requests]  WITH CHECK ADD  CONSTRAINT [blood_requests_assigned_staff_id_fkey] FOREIGN KEY([assigned_staff_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[blood_requests] CHECK CONSTRAINT [blood_requests_assigned_staff_id_fkey]
GO
ALTER TABLE [dbo].[blood_requests]  WITH CHECK ADD  CONSTRAINT [blood_requests_blood_type_id_fkey] FOREIGN KEY([blood_type_id])
REFERENCES [dbo].[blood_types] ([blood_type_id])
GO
ALTER TABLE [dbo].[blood_requests] CHECK CONSTRAINT [blood_requests_blood_type_id_fkey]
GO
ALTER TABLE [dbo].[blood_requests]  WITH CHECK ADD  CONSTRAINT [blood_requests_component_id_fkey] FOREIGN KEY([component_id])
REFERENCES [dbo].[blood_components] ([component_id])
GO
ALTER TABLE [dbo].[blood_requests] CHECK CONSTRAINT [blood_requests_component_id_fkey]
GO
ALTER TABLE [dbo].[blood_requests]  WITH CHECK ADD  CONSTRAINT [blood_requests_facility_id_fkey] FOREIGN KEY([facility_id])
REFERENCES [dbo].[medical_facilities] ([facility_id])
GO
ALTER TABLE [dbo].[blood_requests] CHECK CONSTRAINT [blood_requests_facility_id_fkey]
GO
ALTER TABLE [dbo].[blood_requests]  WITH CHECK ADD  CONSTRAINT [blood_requests_requester_user_id_fkey] FOREIGN KEY([requester_user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[blood_requests] CHECK CONSTRAINT [blood_requests_requester_user_id_fkey]
GO
ALTER TABLE [dbo].[blood_requests]  WITH CHECK ADD  CONSTRAINT [blood_requests_status_id_fkey] FOREIGN KEY([status_id])
REFERENCES [dbo].[blood_request_statuses] ([status_id])
GO
ALTER TABLE [dbo].[blood_requests] CHECK CONSTRAINT [blood_requests_status_id_fkey]
GO
ALTER TABLE [dbo].[blood_requests]  WITH CHECK ADD  CONSTRAINT [blood_requests_urgency_id_fkey] FOREIGN KEY([urgency_id])
REFERENCES [dbo].[urgency_levels] ([urgency_id])
GO
ALTER TABLE [dbo].[blood_requests] CHECK CONSTRAINT [blood_requests_urgency_id_fkey]
GO
ALTER TABLE [dbo].[districts]  WITH CHECK ADD  CONSTRAINT [districts_province_id_fkey] FOREIGN KEY([province_id])
REFERENCES [dbo].[provinces] ([province_id])
GO
ALTER TABLE [dbo].[districts] CHECK CONSTRAINT [districts_province_id_fkey]
GO
ALTER TABLE [dbo].[donation_interval_rules]  WITH CHECK ADD  CONSTRAINT [donation_interval_rules_component_id_fkey] FOREIGN KEY([component_id])
REFERENCES [dbo].[blood_components] ([component_id])
GO
ALTER TABLE [dbo].[donation_interval_rules] CHECK CONSTRAINT [donation_interval_rules_component_id_fkey]
GO
ALTER TABLE [dbo].[donation_reminders]  WITH CHECK ADD  CONSTRAINT [donation_reminders_component_id_fkey] FOREIGN KEY([component_id])
REFERENCES [dbo].[blood_components] ([component_id])
GO
ALTER TABLE [dbo].[donation_reminders] CHECK CONSTRAINT [donation_reminders_component_id_fkey]
GO
ALTER TABLE [dbo].[donation_reminders]  WITH CHECK ADD  CONSTRAINT [donation_reminders_donation_id_fkey] FOREIGN KEY([donation_id])
REFERENCES [dbo].[donations] ([donation_id])
GO
ALTER TABLE [dbo].[donation_reminders] CHECK CONSTRAINT [donation_reminders_donation_id_fkey]
GO
ALTER TABLE [dbo].[donation_reminders]  WITH CHECK ADD  CONSTRAINT [donation_reminders_user_id_fkey] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[donation_reminders] CHECK CONSTRAINT [donation_reminders_user_id_fkey]
GO
ALTER TABLE [dbo].[donations]  WITH CHECK ADD  CONSTRAINT [donations_blood_type_id_fkey] FOREIGN KEY([blood_type_id])
REFERENCES [dbo].[blood_types] ([blood_type_id])
GO
ALTER TABLE [dbo].[donations] CHECK CONSTRAINT [donations_blood_type_id_fkey]
GO
ALTER TABLE [dbo].[donations]  WITH CHECK ADD  CONSTRAINT [donations_component_id_fkey] FOREIGN KEY([component_id])
REFERENCES [dbo].[blood_components] ([component_id])
GO
ALTER TABLE [dbo].[donations] CHECK CONSTRAINT [donations_component_id_fkey]
GO
ALTER TABLE [dbo].[donations]  WITH CHECK ADD  CONSTRAINT [donations_donor_user_id_fkey] FOREIGN KEY([donor_user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[donations] CHECK CONSTRAINT [donations_donor_user_id_fkey]
GO
ALTER TABLE [dbo].[donations]  WITH CHECK ADD  CONSTRAINT [donations_facility_id_fkey] FOREIGN KEY([facility_id])
REFERENCES [dbo].[medical_facilities] ([facility_id])
GO
ALTER TABLE [dbo].[donations] CHECK CONSTRAINT [donations_facility_id_fkey]
GO
ALTER TABLE [dbo].[donations]  WITH CHECK ADD  CONSTRAINT [donations_inventory_id_fkey] FOREIGN KEY([inventory_id])
REFERENCES [dbo].[blood_inventory] ([inventory_id])
GO
ALTER TABLE [dbo].[donations] CHECK CONSTRAINT [donations_inventory_id_fkey]
GO
ALTER TABLE [dbo].[donations]  WITH CHECK ADD  CONSTRAINT [donations_request_id_fkey] FOREIGN KEY([request_id])
REFERENCES [dbo].[blood_requests] ([request_id])
GO
ALTER TABLE [dbo].[donations] CHECK CONSTRAINT [donations_request_id_fkey]
GO
ALTER TABLE [dbo].[donations]  WITH CHECK ADD  CONSTRAINT [donations_staff_user_id_fkey] FOREIGN KEY([staff_user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[donations] CHECK CONSTRAINT [donations_staff_user_id_fkey]
GO
ALTER TABLE [dbo].[donor_availability_slots]  WITH CHECK ADD  CONSTRAINT [donor_availability_slots_schedule_id_fkey] FOREIGN KEY([schedule_id])
REFERENCES [dbo].[facility_donation_schedules] ([schedule_id])
GO
ALTER TABLE [dbo].[donor_availability_slots] CHECK CONSTRAINT [donor_availability_slots_schedule_id_fkey]
GO
ALTER TABLE [dbo].[donor_availability_slots]  WITH CHECK ADD  CONSTRAINT [donor_availability_slots_user_id_fkey] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[donor_availability_slots] CHECK CONSTRAINT [donor_availability_slots_user_id_fkey]
GO
ALTER TABLE [dbo].[donor_profiles]  WITH CHECK ADD  CONSTRAINT [donor_profiles_blood_type_id_fkey] FOREIGN KEY([blood_type_id])
REFERENCES [dbo].[blood_types] ([blood_type_id])
GO
ALTER TABLE [dbo].[donor_profiles] CHECK CONSTRAINT [donor_profiles_blood_type_id_fkey]
GO
ALTER TABLE [dbo].[donor_profiles]  WITH CHECK ADD  CONSTRAINT [donor_profiles_user_id_fkey] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[donor_profiles] CHECK CONSTRAINT [donor_profiles_user_id_fkey]
GO
ALTER TABLE [dbo].[education_documents]  WITH CHECK ADD  CONSTRAINT [education_documents_blood_type_id_fkey] FOREIGN KEY([blood_type_id])
REFERENCES [dbo].[blood_types] ([blood_type_id])
GO
ALTER TABLE [dbo].[education_documents] CHECK CONSTRAINT [education_documents_blood_type_id_fkey]
GO
ALTER TABLE [dbo].[education_documents]  WITH CHECK ADD  CONSTRAINT [education_documents_category_id_fkey] FOREIGN KEY([category_id])
REFERENCES [dbo].[education_document_categories] ([category_id])
GO
ALTER TABLE [dbo].[education_documents] CHECK CONSTRAINT [education_documents_category_id_fkey]
GO
ALTER TABLE [dbo].[education_documents]  WITH CHECK ADD  CONSTRAINT [education_documents_created_by_fkey] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[education_documents] CHECK CONSTRAINT [education_documents_created_by_fkey]
GO
ALTER TABLE [dbo].[facility_donation_schedules]  WITH CHECK ADD  CONSTRAINT [facility_donation_schedules_facility_id_fkey] FOREIGN KEY([facility_id])
REFERENCES [dbo].[medical_facilities] ([facility_id])
GO
ALTER TABLE [dbo].[facility_donation_schedules] CHECK CONSTRAINT [facility_donation_schedules_facility_id_fkey]
GO
ALTER TABLE [dbo].[inventory_transactions]  WITH CHECK ADD  CONSTRAINT [inventory_transactions_inventory_id_fkey] FOREIGN KEY([inventory_id])
REFERENCES [dbo].[blood_inventory] ([inventory_id])
GO
ALTER TABLE [dbo].[inventory_transactions] CHECK CONSTRAINT [inventory_transactions_inventory_id_fkey]
GO
ALTER TABLE [dbo].[inventory_transactions]  WITH CHECK ADD  CONSTRAINT [inventory_transactions_performed_by_fkey] FOREIGN KEY([performed_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[inventory_transactions] CHECK CONSTRAINT [inventory_transactions_performed_by_fkey]
GO
ALTER TABLE [dbo].[medical_facilities]  WITH CHECK ADD  CONSTRAINT [medical_facilities_district_id_fkey] FOREIGN KEY([district_id])
REFERENCES [dbo].[districts] ([district_id])
GO
ALTER TABLE [dbo].[medical_facilities] CHECK CONSTRAINT [medical_facilities_district_id_fkey]
GO
ALTER TABLE [dbo].[medical_facilities]  WITH CHECK ADD  CONSTRAINT [medical_facilities_province_id_fkey] FOREIGN KEY([province_id])
REFERENCES [dbo].[provinces] ([province_id])
GO
ALTER TABLE [dbo].[medical_facilities] CHECK CONSTRAINT [medical_facilities_province_id_fkey]
GO
ALTER TABLE [dbo].[medical_facilities]  WITH CHECK ADD  CONSTRAINT [medical_facilities_ward_id_fkey] FOREIGN KEY([ward_id])
REFERENCES [dbo].[wards] ([ward_id])
GO
ALTER TABLE [dbo].[medical_facilities] CHECK CONSTRAINT [medical_facilities_ward_id_fkey]
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD  CONSTRAINT [notifications_user_id_fkey] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[notifications] CHECK CONSTRAINT [notifications_user_id_fkey]
GO
ALTER TABLE [dbo].[user_otps]  WITH CHECK ADD  CONSTRAINT [user_otps_otp_type_id_fkey] FOREIGN KEY([otp_type_id])
REFERENCES [dbo].[otp_types] ([otp_type_id])
GO
ALTER TABLE [dbo].[user_otps] CHECK CONSTRAINT [user_otps_otp_type_id_fkey]
GO
ALTER TABLE [dbo].[user_otps]  WITH CHECK ADD  CONSTRAINT [user_otps_user_id_fkey] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[user_otps] CHECK CONSTRAINT [user_otps_user_id_fkey]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [users_blood_type_id_fkey] FOREIGN KEY([blood_type_id])
REFERENCES [dbo].[blood_types] ([blood_type_id])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [users_blood_type_id_fkey]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [users_district_id_fkey] FOREIGN KEY([district_id])
REFERENCES [dbo].[districts] ([district_id])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [users_district_id_fkey]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [users_province_id_fkey] FOREIGN KEY([province_id])
REFERENCES [dbo].[provinces] ([province_id])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [users_province_id_fkey]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [users_role_id_fkey] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([role_id])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [users_role_id_fkey]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [users_ward_id_fkey] FOREIGN KEY([ward_id])
REFERENCES [dbo].[wards] ([ward_id])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [users_ward_id_fkey]
GO
ALTER TABLE [dbo].[wards]  WITH CHECK ADD  CONSTRAINT [wards_district_id_fkey] FOREIGN KEY([district_id])
REFERENCES [dbo].[districts] ([district_id])
GO
ALTER TABLE [dbo].[wards] CHECK CONSTRAINT [wards_district_id_fkey]
GO
ALTER TABLE [dbo].[blood_inventory]  WITH CHECK ADD  CONSTRAINT [ck_blood_inventory_status] CHECK  (([status_code]='DISCARDED' OR [status_code]='EXPIRED' OR [status_code]='USED' OR [status_code]='RESERVED' OR [status_code]='AVAILABLE'))
GO
ALTER TABLE [dbo].[blood_inventory] CHECK CONSTRAINT [ck_blood_inventory_status]
GO
ALTER TABLE [dbo].[blood_inventory]  WITH CHECK ADD  CONSTRAINT [ck_blood_inventory_volume] CHECK  (([volume_ml]>(0)))
GO
ALTER TABLE [dbo].[blood_inventory] CHECK CONSTRAINT [ck_blood_inventory_volume]
GO
ALTER TABLE [dbo].[blood_request_donor_matches]  WITH CHECK ADD  CONSTRAINT [ck_blood_request_donor_matches_status] CHECK  (([match_status]='CANCELLED' OR [match_status]='COMPLETED' OR [match_status]='DECLINED' OR [match_status]='ACCEPTED' OR [match_status]='CONTACTED' OR [match_status]='PENDING'))
GO
ALTER TABLE [dbo].[blood_request_donor_matches] CHECK CONSTRAINT [ck_blood_request_donor_matches_status]
GO
ALTER TABLE [dbo].[blood_requests]  WITH CHECK ADD  CONSTRAINT [ck_blood_requests_units] CHECK  (([units_needed]>(0) AND [units_fulfilled]>=(0) AND [units_fulfilled]<=[units_needed]))
GO
ALTER TABLE [dbo].[blood_requests] CHECK CONSTRAINT [ck_blood_requests_units]
GO
ALTER TABLE [dbo].[blood_types]  WITH CHECK ADD  CONSTRAINT [ck_blood_types_abo] CHECK  (([abo]='O' OR [abo]='AB' OR [abo]='B' OR [abo]='A'))
GO
ALTER TABLE [dbo].[blood_types] CHECK CONSTRAINT [ck_blood_types_abo]
GO
ALTER TABLE [dbo].[blood_types]  WITH CHECK ADD  CONSTRAINT [ck_blood_types_rh] CHECK  (([rh_factor]='-' OR [rh_factor]='+'))
GO
ALTER TABLE [dbo].[blood_types] CHECK CONSTRAINT [ck_blood_types_rh]
GO
ALTER TABLE [dbo].[donation_interval_rules]  WITH CHECK ADD  CONSTRAINT [ck_donation_interval_rules_days] CHECK  (([min_interval_days]>(0)))
GO
ALTER TABLE [dbo].[donation_interval_rules] CHECK CONSTRAINT [ck_donation_interval_rules_days]
GO
ALTER TABLE [dbo].[donations]  WITH CHECK ADD  CONSTRAINT [ck_donations_status] CHECK  (([status_code]='REJECTED' OR [status_code]='CANCELLED' OR [status_code]='COMPLETED' OR [status_code]='IN_PROGRESS' OR [status_code]='SCHEDULED'))
GO
ALTER TABLE [dbo].[donations] CHECK CONSTRAINT [ck_donations_status]
GO
ALTER TABLE [dbo].[donor_availability_slots]  WITH CHECK ADD  CONSTRAINT [ck_donor_availability_slots_time] CHECK  (([end_time]>[start_time]))
GO
ALTER TABLE [dbo].[donor_availability_slots] CHECK CONSTRAINT [ck_donor_availability_slots_time]
GO
ALTER TABLE [dbo].[inventory_transactions]  WITH CHECK ADD  CONSTRAINT [ck_inventory_transactions_type] CHECK  (([transaction_type]='EXPIRE' OR [transaction_type]='ADJUST' OR [transaction_type]='RELEASE' OR [transaction_type]='RESERVE' OR [transaction_type]='OUT' OR [transaction_type]='IN'))
GO
ALTER TABLE [dbo].[inventory_transactions] CHECK CONSTRAINT [ck_inventory_transactions_type]
GO
ALTER TABLE [dbo].[otp_types]  WITH CHECK ADD  CONSTRAINT [ck_otp_types_attempts] CHECK  (([max_attempts]>(0)))
GO
ALTER TABLE [dbo].[otp_types] CHECK CONSTRAINT [ck_otp_types_attempts]
GO
ALTER TABLE [dbo].[otp_types]  WITH CHECK ADD  CONSTRAINT [ck_otp_types_expiry] CHECK  (([expiry_minutes]>(0)))
GO
ALTER TABLE [dbo].[otp_types] CHECK CONSTRAINT [ck_otp_types_expiry]
GO
ALTER TABLE [dbo].[user_otps]  WITH CHECK ADD  CONSTRAINT [ck_user_otps_destination_type] CHECK  (([destination_type]='phone' OR [destination_type]='email'))
GO
ALTER TABLE [dbo].[user_otps] CHECK CONSTRAINT [ck_user_otps_destination_type]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [ck_users_gender] CHECK  (([gender] IS NULL OR ([gender]='O' OR [gender]='F' OR [gender]='M')))
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [ck_users_gender]
GO
