# ===== SQL Server Connection =====
DATABASE_URL="sqlserver://localhost:1433;database=BloodDonationDB;user=sa;password=sa;encrypt=true;trustServerCertificate=true"

# ===== JWT =====
JWT_SECRET="blood-donation-jwt-secret-key-2024-change-in-production"
JWT_REFRESH_SECRET="blood-donation-refresh-secret-key-2024-change-in-production"
JWT_EXPIRES_IN="1h"
JWT_REFRESH_EXPIRES_IN="7d"

# ===== App =====
PORT=3000
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=kimlt.develop@gmail.com
SMTP_PASS=xlwizpsnqzazjkry
SMTP_FROM_NAME="BloodLink System"

# ===== Cloudinary =====
CLOUDINARY_CLOUD_NAME=dxhlgpmsy
CLOUDINARY_API_KEY=769738378825731
CLOUDINARY_API_SECRET=um0WQh9vQd7AuA2V-JnBWDK4MSg
